<p><strong>Certification of Use of Narcotic Drugs Under This Notification</strong></p>

	<div class="usa-checkbox">
    <input type="checkbox" class="usa-checkbox__input" id="certify1" name="certify1" value="certify1"/>
		<label for="certify1" class="usa-checkbox__label">When providing maintenance or detoxification treatment, I certify that I will only use Schedule III, IV, or V drugs or combinations of drugs that have been approved by the Federal Drug Administration for use in the maintenance of detoxification treatment and that have been the subject of adverse determination.</label>
	</div>

<p><strong>Certification of Capacity</strong></p>
  <div class="usa-checkbox">
    <input type="checkbox" class="usa-checkbox__input" id="certify2" name="certify2" value="certify2"/>
		<label for="certify2" class="usa-checkbox__label">I certify that I have the capacity to provide, directly or through reeferral, all drugs approved by the Food and Drug Administration for the treatment of opiod use disorder, including for maintencance, detoxification, overdose reversal, and relapse prevention.</label>
	</div>