<p>Only one address should be specified. For the practitioner to dispense the narcotic drugs or combinations to be used under this notification, the primary address listed must be the same as the primary address listed in the practitioner's registration undeer §823(f).</p>

<label class="usa-label" for="input-type-text">Primary Address</label>
<input
  class="usa-input"
  id="input-type-text"
  name="input-type-text"
  type="text"
/>

<label class="usa-label" for="input-type-text">Secondary Address</label>
<input
  class="usa-input"
  id="input-type-text"
  name="input-type-text"
  type="text"
/>

<label class="usa-label" for="input-type-text">City</label>
<input
  class="usa-input"
  id="input-type-text"
  name="input-type-text"
  type="text"
/>

<label class="usa-label" for="options">Professional Disciplines</label>
<select class="usa-select" name="options" id="options">
  <option value>- Select -</option>
  <option value="value1">Alabama</option>
  <option value="value2">Alaska</option>
  <option value="value3">Arizona</option>
  <option value="value3">Arkansas</option>
</select>

<label class="usa-label" for="input-type-text">Zip</label>
<input
  class="usa-input"
  id="input-type-text"
  name="input-type-text"
  type="text"
/>

<fieldset class="usa-fieldset form-element">
<legend class="usa-legend">	Is this location a Federally Qualified Health Center (FQHC) as defined under Section 1861(aa)(4)(B) of the Social Security Act (42 .U.S.C. 1395x)?</legend>
	<div class="usa-radio">
		<input class="usa-checkbox__input" type="radio" id="fqhcyes" name="fqhcyes" value="yes" />
		<label class="usa-radio__label" for="fqhcyes">Yes</label>
	</div>

	<div class="usa-radio">
		<input class="usa-checkbox__input" type="radio" id="fqhcno" name="fqhcno" value="no" />
		<label class="usa-radio__label" for="fqhcno">No</label>
	</div>
</fieldset>

<label class="usa-label" for="input-type-text">Telephone Number</label>
<input
  class="usa-input"
  id="input-type-text"
  name="input-type-text"
  type="text"
/>

<label class="usa-label" for="input-type-text">Extention [optional]</label>
<input
  class="usa-input"
  id="input-type-text"
  name="input-type-text"
  type="text"
/>

<label class="usa-label" for="input-type-text">Fax Number</label>
<input
  class="usa-input"
  id="input-type-text"
  name="input-type-text"
  type="text"
/>

<p><strong>b.crusher@enterprise.com</strong></p>
<p>To change your email address, please go to your account settings.</p>