<p>The SAMHSA Treatment Locator Web site is publicly accessible at http://buprenorphine.samhsa.gov/bwns locator. The Locator Web site lists the names and practice contract information ph physicians with DATA waivers who agree to be listed on the site. The Locator is used by the treatment-seeking public and health care professionals to find physicians with DATA waivers. The Locator Web site additionally provides links to many other sourvces of infomation on substance abuse. No physician listings on the SAMHSA Treatment Locator Web site will be made without the express consent of the physician. </p>

<fieldset class="usa-fieldset form-element">
	<div class="usa-radio">
		<input class="usa-radio__input" type="radio" id="consent" name="consent" value="yes" />
		<label class="usa-radio__label" for="consent">I consent to the release of my name, primary practice address, and phone number to the SAMHSA Treatment Locator Web site.</label>
	</div>

	<div class="usa-radio">
		<input class="usa-radio__input" type="radio" id="noconsent" name="consent" value="no" />
		<label class="usa-radio__label" for="noconsent">I do not consent to the release of my name, primary practice address, and phone number to the SAMHSA Treatment Locator Web site.</label>
	</div>
</fieldset>

<p><strong>Do you want to be identified on the SAMHSA Treatment Locator as providing treatments with: [optional]</strong></p>

<div class="usa-checkbox">
  <input type="checkbox" class="usa-checkbox__input" id="longacting1" name="longacting" value="longacting1"/>
  <label for="longacting1" class="usa-checkbox__label">Long-acting injectable naltrexone</label>
</div>

<div class="usa-checkbox">
  <input type="checkbox" class="usa-checkbox__input" id="longacting2" name="longacting" value="longacting2"/>
  <label for="longacting2" class="usa-checkbox__label">Long-acting nijectable buprenorphine</label>
</div>

<div class="usa-checkbox">
  <input type="checkbox" class="usa-checkbox__input" id="longacting3" name="longacting" value="longacting3"/>
  <label for="longacting3" class="usa-checkbox__label">Long-acting implantable buprennorphine</label>
</div>