<h3>Name of Practitioner</h3>

<label class="usa-label" for="input-type-text">First Name</label>
<input
  class="usa-input"
  id="input-type-text"
  name="input-type-text"
  type="text"
/>

<label class="usa-label" for="input-type-text">Middle Name</label>
<input
  class="usa-input"
  id="input-type-text"
  name="input-type-text"
  type="text"
/>

<label class="usa-label" for="input-type-text">Last Name</label>
<input
  class="usa-input"
  id="input-type-text"
  name="input-type-text"
  type="text"
/>

<label class="usa-label" for="input-type-text">Suffix</label>
<input
  class="usa-input"
  id="input-type-text"
  name="input-type-text"
  type="text"
/>

<label class="usa-label" for="options">Professional Disciplines</label>
<select class="usa-select" name="options" id="options">
  <option value>- Select -</option>
  <option value="value1">Addiction Medicine</option>
  <option value="value2">Addiction Psychiatry</option>
  <option value="value3">Allergy and Immunology</option>
</select>

<h3>State Health Professional License Number</h3>

<p><strong>License Number:</strong> 0001</p>
<p><strong>License State:</strong> CA</p>
<p><strong>DEA Registration Number:</strong> AA111111</p>