<p>New legislation makes it possible for practitioners to apply for a waiver at the 100-patient level if they provide medication-assisted treatement with covered medications (as such terms are defined under 42.C.F.R. §8.2) in a qualified practice setting as described under 42 C.F.R. §8.615.</p>

<fieldset class="usa-fieldset form-element">
<legend class="usa-legend">	I am board certified in addiction medicine or addiction psychiatry by the American Board of Preventive Medicine or the American Board of Psychiatry and Neurology.</legend>
  <input class="usa-checkbox__input" type="radio" id="waiver30100yes" name="waiver30100A" value="yes" />
	<label class="usa-radio__label" for="waiver30100A">Yes</label>
  <input class="usa-checkbox__input" type="radio" id="waiver30100no" name="waiver30100A" value="no" />
	<label class="usa-radio__label" for="waiver30100A">No</label>
</fieldset>

<fieldset class="usa-fieldset form-element">
<legend class="usa-legend">I provide medication-assisted treatment with covered medications (as such terms are defined under 42 C.F.R. § 8.2) in a qualified practice setting as described under 42 C.F.R. § 8.615.</legend>
  <input class="usa-checkbox__input" type="radio" id="waiver30100byes" name="waiver30100B" value="yes" />
	<label class="usa-radio__label" for="waiver30100B">Yes</label>
  <input class="usa-checkbox__input" type="radio" id="waiver30100bno" name="waiver30100B" value="no" />
	<label class="usa-radio__label" for="waiver30100B">No</label>
</fieldset>

<fieldset class="usa-fieldset form-element">
	<legend class="usa-legend usa-legend">What pateint level are you applying for?</legend>
	<div class="usa-radio">
		<input type="radio" class="usa-radio__input" id="level1" name="level" value="level1"/>
		<label class="usa-radio__label" for="level1">I am applying for 100-Patient Level</label><br />
	</div>

	<div class="usa-radio">
		<input type="radio" class="usa-radio__input" id="level2" name="level" value="level2"/>
		<label class="usa-radio__label" for="level2">I am eligible for 100-Patient Level, but applying for 30-Patient Level</label>
	</div>

	<div class="usa-radio">
		<input type="radio" class="usa-radio__input" id="level3" name="level" value="level3"/>
		<label class="usa-radio__label" for="level3">I am applying for 30-Patient Level</label>
	</div>

	<div class="usa-radio">
		<input type="radio" class="usa-radio__input" id="level4" name="level" value="level4"/>
		<label class="usa-radio__label" for="level4">I am apply for 30-Patient Level without training requirements</label>
	</div>
</fieldset>

<fieldset class="usa-fieldset form-element">
	<legend class="usa-legend usa-legend">More reasons [optional]</legend>

	<div class="usa-checkbox">
    <input type="checkbox" class="usa-checkbox__input" id="reason1" name="reason" value="notification1"/>
		<label for="reason1" class="usa-checkbox__label">Notification</label>
	</div>

	<div class="usa-checkbox">
		<input type="checkbox" class="usa-checkbox__input" id="reason2" name="reason" value="notification2"/>
		<label for="reason2" class="usa-checkbox__label">Renewed Notification</label>
	</div>

	<div class="usa-checkbox">
		<input type="checkbox" class="usa-checkbox__input" id="reason3" name="reason" value="notification3"/>
		<label for="reason3" class="usa-checkbox__label">Emergency Situation Notification</label>
	</div>
</fieldset>