<div class="usa-checkbox">
  <input type="checkbox" class="usa-checkbox__input" id="sigcertify" name="sigcertify" value="sigcertify"/>
  <label for="sigcertify" class="usa-checkbox__label">
I certify that the information presented above is true and correct to the best of my knowledge. I certify that I will notify SAMHSA at the address below if any of the information contained on this form changes. Note: Any false, fictitious, or fraudulent statements or information presented above or misrepresentations relative thereto may violate Federal laws and could subject you to prosecution, and/or monetary penalties, and or denial, revocation, or suspension of DEA registration. (See 18 USC § 1001; 31 USC §§ 3801–3812; 21 USC § 824.)</label>
</div>

<label class="usa-label" for="input-type-text">Please type your name to sign the electronic form. Submission Date: 05/24/2021</label>
<input
  class="usa-input"
  id="input-type-text"
  name="input-type-text"
  type="text"
/>

<label class="usa-label" for="input-type-text">Please re-enter your DEA Registration Number to verify:</label>
<input
  class="usa-input"
  id="input-type-text"
  name="input-type-text"
  type="text"
/>