<div class="usa-checkbox">
  <input type="checkbox" class="usa-checkbox__input" id="training1" name="training1" value="training1"/>
  <label for="training1" class="usa-checkbox__label">Subspeciality board certification in Addiction Psychiatry of Addication Medicine from the American Board of Medical Specialties</label>
</div>

<div class="usa-checkbox">
  <input type="checkbox" class="usa-checkbox__input" id="training2" name="training2" value="training2"/>
  <label for="training2" class="usa-checkbox__label">Addication Certification or board certification from the American Society of Addiction Medicine or American Board of Addiction Medicine</label>
</div>
  <div class="usa-checkbox">
  <input type="checkbox" class="usa-checkbox__input" id="training3" name="training3" value="training3"/>
  <label for="training3" class="usa-checkbox__label">Participation as an investigator in one or more clinical trials leading to the approval of a narcotic medication in Schedule III, IV, V for maintencance or detoxification treatment.</label>
</div>
  <div class="usa-checkbox">
  <input type="checkbox" class="usa-checkbox__input" id="training4" name="training4" value="training4"/>
  <label for="training4" class="usa-checkbox__label">State medical icensing board-approved experience or training in the treatment and management of patients with opiod dependency.</label>
</div>
  <div class="usa-checkbox">
  <input type="checkbox" class="usa-checkbox__input" id="training5" name="training5" value="training5"/>
  <label for="training5" class="usa-checkbox__label">Graduated in good standing from an accredited school of allopathic medicine or osteopathic medicine in the United Stated during the last fice (5) years, and during which I successfully completed a comprehensive allophathic or osteopathic medicine curriculum, or accredited medical residency, that included at least 8 hours of training or treating and managing opiod-dependent patients that included training on the following topics: opioid maintenance and detoxification; appropriate clinical use of all drugs approved by the Food and Drug Administration for the treatment of opioid use disorder; initial and periodic pateint assessments (including subtsnace use monitoring); individualized treatment planning, overdose reversal, and relapse prevention; counseling and recovery support services' staffing roles and considerations; and diversion control.</label>
</div>

<p>Subspeciality board certification in Addiction Medicine from the American Osteophathic Association</p>

<p>Completion of not less than eight hours of training from the treatment and management of the opioid-dependent patients that included training on the following topics: opioid maintenance and detoxification; appropriate clinical use of all drugs approved by the Food and Drug Administration for the treatment of opioid use disorder; initial and periodic patient assessments (including substance use monitoring); individualized treatment planning, overdose reversal, and relapse prevention; conuseling and recovery support services; staffing roles and considersations; and diversion control, and that was provided by the following organizations(s):</p>

<div class="usa-checkbox">
  <input type="checkbox" class="usa-checkbox__input" id="american1" name="american1" value="american1"/>
  <label for="american1" class="usa-checkbox__label">American Society of Addication Medicine (ASAM)</label>
</div>

<div class="usa-checkbox">
  <input type="checkbox" class="usa-checkbox__input" id="american2" name="american2" value="american2"/>
  <label for="american2" class="usa-checkbox__label">American Acacdemy of Addication Psychiatry (AAAP)</label>
</div>

<div class="usa-checkbox">
  <input type="checkbox" class="usa-checkbox__input" id="american3" name="american3" value="american3"/>
  <label for="american3" class="usa-checkbox__label">American Medical Association (AMA)</label>
</div>

<div class="usa-checkbox">
  <input type="checkbox" class="usa-checkbox__input" id="american4" name="american4" value="american4"/>
  <label for="american4" class="usa-checkbox__label">American Osteopathic Association (AOA)/American Osteopathic Academy of Addication Medicine (AOAAM)</label>
</div>

<div class="usa-checkbox">
  <input type="checkbox" class="usa-checkbox__input" id="american5" name="american5" value="american5"/>
  <label for="american5" class="usa-checkbox__label">American Psychiatric Association (APA)</label>
</div>

<div class="usa-checkbox">
  <input type="checkbox" class="usa-checkbox__input" id="american6" name="american6" value="american6"/>
  <label for="american6" class="usa-checkbox__label">SAMHSA Providers' Clinical Support System (PCSS)</label>
</div>

<div class="usa-checkbox">
  <input type="checkbox" class="usa-checkbox__input" id="american7" name="american7" value="american7"/>
  <label for="american7" class="usa-checkbox__label">Other (Specify, include date and location)</label>
</div>

<p><strong>Date and location of training</strong></p>

<label class="usa-label" for="input-type-text">Date</label>
<input
  class="usa-input"
  id="input-type-text"
  name="input-type-text"
  type="text"
/>

<label class="usa-label" for="input-type-text">Online or City</label>
<input
  class="usa-input"
  id="input-type-text"
  name="input-type-text"
  type="text"
/>

<label class="usa-label" for="options">State</label>
<select class="usa-select" name="options" id="options">
  <option value>- Select -</option>
  <option value="value1">Alabama</option>
  <option value="value2">Alaska</option>
  <option value="value3">Arizona</option>
  <option value="value3">Arkansas</option>
</select>

<p><strong>You may upload any documentation of your training here. If you do not provide a copy of your certificate, this may result in delayed processing of yoru waiver. Please retain a copy of the training certification for your records as proof of required training completion.</strong></p>