<p>Enter your information below to check your waiver eligibility and get started.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus gravida purus vel magna pretium ornare. Proin venenatis eu sapien et malesuada. Quisque posuere nulla eget dui elementum interdum. Aenean sit amet vehicula augue. Aenean imperdiet est eget purus rhoncus pellentesque. Etiam neque justo, lacinia sit amet mi sit amet, sollicitudin consequat enim. Vivamus egestas malesuada augue, vitae auctor nibh. Donec nec nulla efficitur magna laoreet interdum. Mauris porta pellentesque facilisis.</p>

<p><strong>All field are required, unless marked optional.</strong></p>

<h3>Select your practitioner type:</h3>

<div class="usa-radio">
  <input 
    class="usa-radio__input"
    id="modo" type="radio"
    name="MODO"
    value="modo"
  />
  <label class="usa-radio__label" for="modo">MO/DO</label>
</div>
