
{% for item in site.data.form_nav.form-navigation %}
  <section id="{{ item.id }}" class="form-section">
    <h2>{{ item.title }}</h2>

    <section class="usa-site-alert usa-site-alert--info" aria-label="Site alert">
      <div class="usa-alert">
        <div class="usa-alert__body">
          <h3 class="usa-alert__heading">Error message</h3>
          <p class="usa-alert__text">
            You must select an option to proceed.
          </p>
        </div>
      </div>
    </section>

    {% include sectionContent/{{ item.id }}.html %}

    <div class="btn-actions">
      {% if item.prev-page %}
        <button class="usa-button btn-prev btn-action" value="{{ item.prev-page }}">Back</button>
      {% endif %}

      {% if item.next-page %}
        <button class="usa-button btn-next btn-action" value="{{ item.next-page }}">Next</button>
      {% endif %}

      {% if item.id == "signatures" %}
        <input class="usa-button" type="submit" value="Submit" />
      {% else %}
        <button class="usa-button usa-button--unstyled">save and return later</button>
      {% endif %}
    </div>

  </section>
{% endfor %}
