<header>
  <div class="usa-banner usa-banner__header" aria-label="Official government website">
    <div class="usa-banner__inner">
      <div class="grid-col-auto">
        <img
          class="usa-banner__header-flag hhs-icon"
          src="/assets/img/hhs-logo.svg"
          alt="U.S. HHS logo"
        />
      </div>
      <div class="grid-col-fill tablet:grid-col-auto">
        <p class="usa-banner__header-text">
          U.S. Department of Health & Human Services
        </p>
      </div>
    </div>
  </div>
  <div class="grid-col-fill tablet:grid-col-auto page-header-title">
    <h1>Buprenorphine Waiver Notification</h1>
    <img class="samhsa-logo" src="/assets/img/samhsa-logo.svg" alt="SAMHSA logo" />
  </div>
</header>