<h1>Updated Prototype Hex Map</h1>
<figure class="highcharts-figure">
    <div id="container"></div>
</figure>


<h1>State Estimates Map on Prod</h1>
      <div id="hex-prototype"class="hex-grid">
        <ul class="hex-grid-row">
          <li>
            <a target="_blank" alt="Click here to see Alaska Interactive map" href="https://pdas.samhsa.gov/saes/state?stNum=02" class="hexagon cerulean"><span>AK</span></a>
          </li>
          <li>
            <div class="hexagon"></div>
          </li>
          <li>
            <div class="hexagon"></div>
          </li>
          <li>
            <div class="hexagon"></div>
          </li>
          <li>
            <div class="hexagon"></div>
          </li>
          <li>
            <div class="hexagon"></div>
          </li>
          <li>
            <div class="hexagon"></div>
          </li>
          <li>
            <div class="hexagon"></div>
          </li>
          <li>
            <div class="hexagon"></div>
          </li>
          <li>
            <div class="hexagon"></div>
          </li>
          <li>
            <div class="hexagon"></div>
          </li>
          <li>
            <a target="_blank" alt="Click here to see Maine Interactive map" href="https://pdas.samhsa.gov/saes/state?stNum=23" class="hexagon cerulean"><span>ME</span></a>
          </li>
        </ul>
        <!-- Even row has 11 hexes) -->
        <ul class="hex-grid-row even">
          <li>
            <div class="hexagon"></div>
          </li>
          <li>
            <div class="hexagon"></div>
          </li>
          <li>
            <div class="hexagon"></div>
          </li>
          <li>
            <div class="hexagon"></div>
          </li>
          <li>
            <div class="hexagon"></div>
          </li>
          <li>
            <div class="hexagon"></div>
          </li>
          <li>
            <div class="hexagon"></div>
          </li>
          <li>
            <div class="hexagon"></div>
          </li>
          <li>
            <div class="hexagon"></div>
          </li>
          <li>
            <a target="_blank" alt="Click here to see Vermont Interactive map" href="https://pdas.samhsa.gov/saes/state?stNum=50" class="hexagon teal"><span>VT</span></a>
          </li>
          <li>
            <a target="_blank" alt="Click here to see Newhampshire Interactive map" href="https://pdas.samhsa.gov/saes/state?stNum=33" class="hexagon midnight"><span>NH</span></a>
          </li>
        </ul>
        <ul class="hex-grid-row">
          <li>
            <div class="hexagon"></div>
          </li>
          <li>
            <a target="_blank" alt="Click here to see Washington Interactive map" href="https://pdas.samhsa.gov/saes/state?stNum=53" class="hexagon cerulean"><span>WA</span></a>
          </li>
          <li>
            <a target="_blank" alt="Click here to see Montana Interactive map" href="https://pdas.samhsa.gov/saes/state?stNum=30" class="hexagon cerulean"><span>MT</span></a>
          </li>
          <li>
            <a target="_blank" alt="Click here to see North Dakota Interactive map" href="https://pdas.samhsa.gov/saes/state?stNum=38" class="hexagon sapphite"><span>ND</span></a>
          </li>
          <li>
            <a target="_blank" alt="Click here to see Minnesota Interactive map" href="https://pdas.samhsa.gov/saes/state?stNum=27" class="hexagon midnight"><span>MN</span></a>
          </li>
          <li>
            <a target="_blank" alt="Click here to see Wisconsin Interactive map"
            href="https://pdas.samhsa.gov/saes/state?stNum=55" class="hexagon cerulean"><span>WI</span></a>
          </li>
          <li>
            <div class="hexagon"></div>
          </li>
          <li>
            <a target="_blank" alt="Click here to see Michigan Interactive map" href="https://pdas.samhsa.gov/saes/state?stNum=26" class="hexagon cerulean"><span>MI</span></a>
          </li>
          <li>
            <div class="hexagon"></div>
          </li>
          <li>
            <a target="_blank" alt="Click here to see New York Interactive map" href="https://pdas.samhsa.gov/saes/state?stNum=36" class="hexagon midnight"><span>NY</span></a>
          </li>
          <li>
            <a target="_blank" alt="Click here to see Massachusetts Interactive map" href="https://pdas.samhsa.gov/saes/state?stNum=25" class="hexagon midnight"><span>MA</span></a>
          </li>
          <li>
            <a target="_blank" alt="Click here to see Rhode island Interactive map" href="https://pdas.samhsa.gov/saes/state?stNum=44" class="hexagon sapphite"><span>RI</span></a>
          </li>
        </ul>
        <ul class="hex-grid-row even">
          <li>
            <div class="hexagon"></div>
          </li>
          <li>
            <a target="_blank" alt="Click here to see Idaho Interactive map" href="https://pdas.samhsa.gov/saes/state?stNum=16" class="hexagon sapphite"><span>ID</span></a>
          </li>
          <li>
            <a target="_blank" alt="Click here to see Wyoming Interactive map" href="https://pdas.samhsa.gov/saes/state?stNum=56" class="hexagon midnight"><span>WY</span></a>
          </li>
          <li>
            <a target="_blank" alt="Click here to see South Dakota Interactive map" href="https://pdas.samhsa.gov/saes/state?stNum=46" class="hexagon teal"><span>SD</span></a>
          </li>
          <li>
            <a target="_blank" alt="Click here to see Iowa Interactive map" href="https://pdas.samhsa.gov/saes/state?stNum=19" class="hexagon midnight"><span>IA</span></a>
          </li>
          <li>
            <a target="_blank" alt="Click here to see Illinois Interactive map" href="https://pdas.samhsa.gov/saes/state?stNum=17" class="hexagon midnight"><span>IL</span></a>
          </li>
          <li>
            <a target="_blank" alt="Click here to see Indiana Interactive map" href="https://pdas.samhsa.gov/saes/state?stNum=18" class="hexagon sapphite"><span>IN</span></a>
          </li>
          <li>
            <a target="_blank" alt="Click here to see Ohio Interactive map" title="Click here to see Ohio Interactive map" href="https://pdas.samhsa.gov/saes/state?stNum=39" class="hexagon midnight"><span>OH</span></a>
          </li>
          <li>
            <a target="_blank" alt="Click here to see Pennsylvania Interactive map" href="https://pdas.samhsa.gov/saes/state?stNum=42" class="hexagon midnight"><span>PA</span></a>
          </li>
          <li>
            <a target="_blank" alt="Click here to see NewJersey Interactive map" href="https://pdas.samhsa.gov/saes/state?stNum=34" class="hexagon teal"><span>NJ</span></a>
          </li>
          <li>
            <a target="_blank" alt="Click here to see Connecticut Interactive map" href="https://pdas.samhsa.gov/saes/state?stNum=09" class="hexagon cerulean"><span>CT</span></a>
          </li>
        </ul>
        <ul class="hex-grid-row">
          <li>
            <div class="hexagon"></div>
          </li>
          <li>
            <a target="_blank" alt="Click here to see Oregon Interactive map" href="https://pdas.samhsa.gov/saes/state?stNum=41" class="hexagon midnight"><span>OR</span></a>
          </li>
          <li>
            <a target="_blank" alt="Click here to see Neveda Interactive map" href="https://pdas.samhsa.gov/saes/state?stNum=32" class="hexagon sapphite"><span>NV</span></a>
          </li>
          <li>
            <a target="_blank" alt="Click here to see Colorado Interactive map" href="https://pdas.samhsa.gov/saes/state?stNum=08" class="hexagon teal"><span>CO</span></a>
          </li>
          <li>
            <a target="_blank" alt="Click here to see Nebraska Interactive map" href="https://pdas.samhsa.gov/saes/state?stNum=31" class="hexagon midnight"><span>NE</span></a>
          </li>
          <li>
            <a target="_blank" alt="Click here to see Missouri Interactive map" href="https://pdas.samhsa.gov/saes/state?stNum=29" class="hexagon sapphite"><span>MO</span></a>
          </li>
          <li>
            <a target="_blank" alt="Click here to see Kentuckky Interactive map" href="https://pdas.samhsa.gov/saes/state?stNum=21" class="hexagon teal"><span>KY</span></a>
          </li>
          <li>
            <a target="_blank" alt="Click here to see West Virginia Interactive map" href="https://pdas.samhsa.gov/saes/state?stNum=54" class="hexagon sapphite"><span>WV</span></a>
          </li>
          <li>
            <a target="_blank" alt="Click here to see Virginia Interactive map" href="https://pdas.samhsa.gov/saes/state?stNum=51" class="hexagon cerulean"><span>VA</span></a>
          </li>
          <li>
            <a target="_blank" alt="Click here to see Maryland Interactive map" href="https://pdas.samhsa.gov/saes/state?stNum=24" class="hexagon midnight"><span>MD</span></a>
          </li>
          <li>
            <a target="_blank" alt="Click here to see Delaware Interactive map" href="https://pdas.samhsa.gov/saes/state?stNum=10" class="hexagon teal"><span>DE</span></a>
          </li>
          <li>
            <div class="hexagon"></div>
          </li>
        </ul>
        <ul class="hex-grid-row even">
          <li>
            <div class="hexagon"></div>
          </li>
          <li>
            <a target="_blank" alt="Click here to see California Interactive map" href="https://pdas.samhsa.gov/saes/state?stNum=06" class="hexagon cerulean"><span>CA</span></a>
          </li>
          <li>
            <a target="_blank" alt="Click here to see Utah Interactive map" href="https://pdas.samhsa.gov/saes/state?stNum=49" class="hexagon midnight"><span>UT</span></a>
          </li>
          <li>
            <a target="_blank" alt="Click here to see New Mexico Interactive map" href="https://pdas.samhsa.gov/saes/state?stNum=35" class="hexagon teal"><span>NM</span></a>
          </li>
          <li>
            <a target="_blank" alt="Click here to see kansas Interactive map" href="https://pdas.samhsa.gov/saes/state?stNum=20" class="hexagon cerulean"><span>KS</span></a>
          </li>
          <li>
            <a target="_blank" alt="Click here to see Arkansas Interactive map" href="https://pdas.samhsa.gov/saes/state?stNum=05" class="hexagon sapphite"><span>AR</span></a>
          </li>
          <li>
            <a target="_blank" alt="Click here to see Tennessee Interactive map" href="https://pdas.samhsa.gov/saes/state?stNum=47" class="hexagon midnight"><span>TN</span></a>
          </li>
          <li>
            <a target="_blank" alt="Click here to see North Carolina Interactive map" href="https://pdas.samhsa.gov/saes/state?stNum=37" class="hexagon cerulean"><span>NC</span></a>
          </li>
          <li>
            <a target="_blank" alt="Click here to see South Carolina Interactive map" href="https://pdas.samhsa.gov/saes/state?stNum=45" class="hexagon midnight"><span>SC</span></a>
          </li>
          <li>
            <a target="_blank" alt="Click here to see Washington DC Interactive map" href="https://pdas.samhsa.gov/saes/state?stNum=11" class="hexagon midnight"><span>DC</span></a>
          </li>
          <li>
            <div class="hexagon"></div>
          </li>
        </ul>
        <ul class="hex-grid-row">
          <li>
            <div class="hexagon"></div>
          </li>
          <li>
            <div class="hexagon"></div>
          </li>
          <li>
            <div class="hexagon"></div>
          </li>
          <li>
            <a target="_blank" alt="Click here to see Arizona Interactive map" href="https://pdas.samhsa.gov/saes/state?stNum=04" class="hexagon teal"><span>AZ</span></a>
          </li>
          <li>
            <a target="_blank" alt="Click here to see Oklahoma Interactive map" href="https://pdas.samhsa.gov/saes/state?stNum=40" class="hexagon sapphite"><span>OK</span></a>
          </li>
          <li>
            <a target="_blank" alt="Click here to see Lousiana Interactive map" href="https://pdas.samhsa.gov/saes/state?stNum=22" class="hexagon cerulean"><span>LA</span></a>
          </li>
          <li>
            <a target="_blank" alt="Click here to see Misssissippi Interactive map" href="https://pdas.samhsa.gov/saes/state?stNum=28" class="hexagon midnight"><span>MS</span></a>
          </li>
          <li>
            <a target="_blank" alt="Click here to see Alabama Interactive map" href="https://pdas.samhsa.gov/saes/state?stNum=01" class="hexagon midnight"><span>AL</span></a>
          </li>
          <li>
            <a target="_blank" alt="Click here to see Georgia Interactive map" href="https://pdas.samhsa.gov/saes/state?stNum=13" class="hexagon teal"><span>GA</span></a>
          </li>
          <li>
            <div class="hexagon"></div>
          </li>
          <li>
            <div class="hexagon"></div>
          </li>
          <li>
            <div class="hexagon"></div>
          </li>
        </ul>
        <ul class="hex-grid-row even">
          <li>
            <div class="hexagon"></div>
          </li>
          <li>
            <div class="hexagon"></div>
          </li>
          <li>
            <div class="hexagon"></div>
          </li>
          <li>
            <div class="hexagon"></div>
          </li>
          <li>
            <a target="_blank" alt="Click here to see Texas Interactive map" href="https://pdas.samhsa.gov/saes/state?stNum=48" class="hexagon cerulean"><span>TX</span></a>
          </li>
          <li>
            <div class="hexagon"></div>
          </li>
          <li>
            <div class="hexagon"></div>
          </li>
          <li>
            <a target="_blank" alt="Click here to see Florida Interactive map" href="https://pdas.samhsa.gov/saes/state?stNum=12" class="hexagon sapphite"><span>FL</span></a>
          </li>
          <li>
            <div class="hexagon"></div>
          </li>
          <li>
            <div class="hexagon"></div>
          </li>
          <li>
            <div class="hexagon"></div>
          </li>
        </ul>
        <ul class="hex-grid-row">
          <li>
            <a target="_blank" alt="Click here to see Hawai Interactive map" href="https://pdas.samhsa.gov/saes/state?stNum=15" class="hexagon cerulean"><span>HI</span></a>
          </li>
          <li>
            <div class="hexagon"></div>
          </li>
          <li>
            <div class="hexagon"></div>
          </li>
          <li>
            <div class="hexagon"></div>
          </li>
          <li>
            <div class="hexagon"></div>
          </li>
          <li>
            <div class="hexagon"></div>
          </li>
          <li>
            <div class="hexagon"></div>
          </li>
          <li>
            <div class="hexagon"></div>
          </li>
          <li>
            <div class="hexagon"></div>
          </li>
          <li>
            <div class="hexagon"></div>
          </li>
          <li>
            <div class="hexagon"></div>
          </li>
          <li>
            <div class="hexagon"></div>
          </li>
        </ul>
      </div>



