/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/
/*colors*/
$samhsa-blue: #1E384B;
$color-white: #ffffff;
$color-teal: #1a6986;
$color-sapphite: #2752BE;
$color-cerulean: #5191cd;
$color-ruby: #a82d2b;
$color-crimson: #cd3835;
$color-charcoal: #4a4a4a;
$color-black: #000000;

/* Hex grid variable */
$hex-width: 6vw;
$hex-height: $hex-width;
$hex-row-left-margin: calc(#{$hex-width} / 2);

.grid-container {
  max-width: 76em;
}

.hhs-icon {
  width: 30px;
  margin-right: 5px;
  vertical-align: middle;
  fill: $samhsa-blue;
}

.usa-banner {
  .usa-banner__inner {
    margin-left: 0;
    padding-left: 1em;
  }

  .usa-banner__header-text {
    font-size: 1.25em !important;
  }
}

.page-header-title {
  background: $samhsa-blue;
  padding: 1em;
  margin: 0 0 2em 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  h1 {
    color: $color-white;
    margin: 0;
    align-self: center;
  }

  .samhsa-logo {
    fill: $color-white;
    height: 50px;
  }
}

.form-section {
  display: none;

  &.active {
    display: block;
  }
}

.sidebar {
  background: #f0f0f0;
  padding: 1em;

  .form-nav {
    list-style-type: none;
    padding: 0;

    .form-nav-item {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      padding: 0.5em 0;
      font-size: 20px;
      font-weight: bold;
      border-bottom: 1px solid #ddd;

      .progress-icon {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        margin-right: 0.5em;
        text-align: center;
        background: #ddd;

        .usa-icon {
          height: 30px;
          fill: white;
        }

        span {
          visibility: hidden;
        }
      }

      &.in-progress .progress-icon {
        background: #ddaa01 !important;
      }

      &.complete .progress-icon {
        background:#008817;
      }
    }
  }
}

.form-section-content {
  padding: 1em 2em;

  .form-element {
    margin: 1em 0;
  }

  section h2 {
    position: relative;
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 30px;
    color: $samhsa-blue;

    &:after {
      position: absolute;
      left: 0;
      width: 80px;
      content: "";
      border-bottom: 4px solid #cd3835;
      bottom: -11px;
    }
  }

  .btn-actions {
    margin: 2em 0;
  }

  .usa-legend {
    max-width: 100%;
  }
}

footer {
  margin-top: 4em;
  padding: 1em;
  border-top: 1px solid #000000;
}

.usa-site-alert--info .usa-alert {
  display: none;
  background-color: #dda0a0;
  border-left: 6px solid #801313;

  &:before {
    background: url(../img/usa-icons/info.svg) no-repeat center / 2rem 2rem;
  }

  &.show {
    display: block;
  }
}

#e1 {
  display: none;
  
  &.open {
    display: block;
  }
}

.accordion-button {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;

  .accordion-chevron {
    transform: rotate(90deg);
  }

  &.expanded {
    .accordion-chevron {
      transform: rotate(-90deg);
    }
  }
}

//Hex map styling
.hex-grid {
  position: relative;

  a:visited {
    color: white;
  }

  @media only screen and (max-width: 640px) {
    //display: none;
  }

  img {
    max-width: 100%;
    text-indent: -9999px;
  }

  img[title], img[alt] {
    white-space: nowrap;
    overflow: hidden;
    color: transparent;
    text-indent: -9999px;
  }

  area {
    white-space: nowrap;
    overflow: hidden;
    color: transparent;
    text-indent: -9999px;
  }

  area[title], area[alt] {
    white-space: nowrap;
    overflow: hidden;
    color: transparent;
    text-indent: -9999px;
  }

  .hexagon {
    display: table;
    width: $hex-width;
    height: $hex-height;
    color: white;
    position: relative;
    margin-bottom: -9px;
    transition: transform 0.2s ease-in-out;
    transform-origin: center;
    text-decoration: none;

    &:hover {
      color: white;
      text-decoration: none;
    }

    &.midnight {
      background: center / contain no-repeat url(../../assets/img/Midnight.png);
    }

    &.teal {
      background: center / contain no-repeat url(../../assets/img/Teal.png);
    }

    &.cerulean {
      background: center / contain no-repeat url(../../assets/img/Celurean.png);
    }

    &.sapphite {
      background: center / contain no-repeat url(../../assets/img/Sapphite.png);
    }

    &.midnight,
    &.teal,
    &.cerulean,
    &.sapphite {

      &:hover {
        background: center / contain no-repeat url(../img/Ruby.png);
        transform: scale(1.5);
        z-index: 9999;
        -webkit-font-smoothing: antialiased;
      }

    }

    span {
      display: table-cell;
      vertical-align: middle;
      margin: auto;
      text-align: center;
    }

    @media only screen and (max-width: 1126px) {
      //width: 6vw;
      //height: 6vw;
    }
  }

  .hex-grid-row {
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
    margin: 0;

    li {
      list-style-type: none;
    }
  }

  .hex-grid-row.even {
    margin-left: $hex-row-left-margin;
    @media only screen and (max-width: 1126px) {
      margin-left: 3vw;
    }
  }
}

//High charts hex styling
.highcharts-figure,
.highcharts-data-table table {
    min-width: 360px;
    max-width: 700px;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

.highcharts-credits {display:none;}