---
---
<html>
  {% include partials/head.html %}
  <body>
  {% include partials/default-header.html %}
    <div id="main-content" class="grid-container">
        <h2>Welcome to the BWNS Live Prototypes</h2>
        <p>Click on any of the links below to continue.</p>

        <ul class="homepage-nav">
          <li>
            <a class="homepage_link" href="/noi-form">NOI Form
            </a>
          </li>
          <li>
            <a class="homepage_link" href="/hexMap">Hex Map
            </a>
          </li>
        </ul>  
    </div>
    <script src="{{ base.url | prepend: site.url }}/assets/js/noi-form.js"></script>
    <script src="{{ base.url | prepend: site.url }}/assets/js/uswds.min.js"></script>
  </body>
</html>