---
---
<html>
  {% include partials/head.html %}
  <body>
  {% include partials/default-header.html %}
    <div id="main-content" class="grid-container">
        <h2>Welcome to the BWNS Live Prototype</h2>
        <p>Click on any of the links below to continue.</p>

        <ul>
          <li>
            <a href="/noi-form">NOI Form</a>
          </li>
          <li>
            <a href="/hexMap">Hex Map</a>
          </li>
        </ul>  
    </div>
    <script src="{{ base.url | prepend: site.url }}/assets/js/noi-form.js"></script>
    <script src="{{ base.url | prepend: site.url }}/assets/js/uswds.min.js"></script>
  </body>
</html>